.discover-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  h1 {
    color: #e94057;
    margin-bottom: 40px;
    font-size: 2.5em;
  }

  .card-stack {
    position: relative;
    width: 320px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;


    app-profile-card {
      position: absolute;

    }
  }

  .loading-indicator, .no-more-users {
    text-align: center;
    font-size: 1.1em;
    color: #666;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
  }

  .no-more-users p {
    margin-bottom: 10px;
  }
}
